<div style="margin-left: 25px">
  <% if current_user %>
    <div style="margin-top: 25px">
    <% if current_user.avatar.attached? %>
      <p><%= image_tag(current_user.avatar, class: "img" ) %> </p>
    <% end %>
    </div>
    <div style="font-size:20px">
      <p style="color:#4E4E4E"><%= current_user.name %><p>
    </div>
    <% if current_user.admin?%>
      <p><%= link_to "Invite Users", new_user_invitation_path%></p>
    <% else %>
       <%= link_to 'Login to Marketforms', fetch_code_path %>
      <h3>Subscribed Plans</h3>
      <table class="table">
      <thead>
      <% @i=0 %>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Plan</th>
            <th scope="col">Plan Fee</th>
            <th scope="col">Feature</th>
            <th scope="col">Feature Fee</th>
            <th scope="col">Unit limit</th>
            <th scope="col">Increase Units</th>
          <tr>
        </thead>
        <tbody>
          <%= render partial: "subscriptions/subscription_partial", collection: current_user.subscriptions, as: :subscription %>
        </tbody>
      </table>
    <% end %>
</div>
<% else %>
  <p><%= link_to "sign_in", new_user_session_path %></p>
<% end %>
