<div style="margin-bottom: 10px">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title"><%= @plan.name %></h2>
        <p class="card-text"><h3>Code: <%= @plan.monthly_fee %></h3></p>
            <ul class="feature-actions">
              <button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_plan_path(@plan) %></button>
              <button type="button" class="btn btn-secondary"><%= link_to 'Delete', plan_path(@plan), method: :delete, data: { confirm: 'Are you sure?' } %></button>
              <button type="button" class="btn btn-secondary"><%= link_to "Back", plans_path %></button>
            </ul>
      </div>
    </div>
</div>
